$purple: #6C3C97;
$black: #303030;


.hide {
    display: none;
}

header {
    height: 60px;
    line-height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    img {
        height: 26px;
    }
}

.content {
    padding: 20px;
    button {
        display: block;
        border: none;
        background-color: $purple;
        height: 30px;
        width: 150px;
        border-radius: 5px;
        color: white;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
}

.lightbox {
    display: none;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.95);
    text-align: center;
    overflow: auto;
    color: white;
    a {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
    }
    #audio-container {
        width: 100%;
        img {
            margin-top: 100px;
        }
        audio {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}